@charset "utf-8";
/* CSS Document*/

#h1confirmacao {
    font-family: 'FonteLogo', sans-serif;
    display: block;
    position:relative;
    text-align: center;
    color: white;
    background-color: green;
    width: 1000px;
    height: 50px;
    left: 20px;
}

#linksConfirmacao{
    display: block;
    position: relative;
    left: 350px;
}

.link1 {
    margin: 10px;
    text-decoration: none;
}
.link1:hover {
    color: #09F;
}

#confirmacao {
    display: block;
    position:relative;
    left: 480px;
}