@charset "utf-8";
/* CSS Document */

/* Importação da Fonte do Logo*/
@font-face{
    font-family: 'FonteLogo';
    src:url(fonte/bubblegum-sans-regular.otf);
}

body{
    background: #dddddd; /*rgba(0, 0, 0, 0.5);*/
    font-family: verdana, sans-serif;
}

/*Formatação do corpo da página*/
#corpo {
    border-radius: 20px;;
    width: 1050px;
    margin: 0px auto 0px auto;
    background-color: #FFFFFF;
}

/*Formatação do cabeçalho onde se encontra o nome do sistema*/
header#cabecalho {
    background-color: #ffffff;
    width: 1000px;
    height: 120px;
    margin: -10px auto 0px auto;
    border-bottom: 1px solid #606060;
}

/*Formatação da imagem do logo*/
header#cabecalho img{
    width: 80px;
    border-radius: 10px;
}

/*Formatação do nome do sistema*/
nav#nomeLogo h2{
    font-family: 'FonteLogo', sans-serif;
    color: #606060;
    font-size: 30pt;
    position: relative;
    left: 85px;
    top: -95px;							
}
nav#nomeLogo h3 {
    font-family: 'FonteLogo', sans-serif;
    color: #606060;
    font-size: 28pt;
    position: relative;
    left: 20px;
    top: -130px;
}

/*Formatação do formulário entrar*/
.formEntrar {
    display: block;
    position: absolute;
    right: 230px;
    top: 40px;
    font-family: sans-serif;
    color: #606060;
}
.label{
    font-weight:bold;
    font-size: 10pt;
}
.cSenha {
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    font-size:8pt;
}
.cLogin {
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    font-size: 8pt;
}
.cEntrar {
    height:25px;
    width: 55px;
    position: relative;
    top:0px;
    border-radius: 6px;
    color: white;
    background-color: #888888;  
    font-size: 8pt;
    font-family: sans-serif;
}

/*Formatação do rodapé*/
footer#rodape {
    background-color: #FFF;
    width: 1000px;
    height: 50px;    
    margin: 20px auto 10px auto;
    border-top: 1px solid #606060;	
    text-align: center;	
    font-family: Arial, sans-serif;
    color: #000;
}
footer#rodape img {
    width: 30px;
    height: 30px;
}
table#rodape {
    position: relative;
    display: block;
    top: -10px;
    left: 425px;
    width: 125px;
    height: 45px;
}
table#rodape td h4 {
    font-family: 'FonteLogo', sans-serif;
    color: #606060;
}

h1{
    font-family: 'FonteLogo';
    color: blue;
}