<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SapConsultores</servlet-name>
        <servlet-class>SapConsultores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>conexaoBanco</servlet-name>
        <servlet-class>servlet.conexaoBanco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroCliente</servlet-name>
        <servlet-class>servlet.CadastroCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCliente</servlet-name>
        <servlet-class>servlet.LoginCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarAdministrador</servlet-name>
        <servlet-class>servlet.CadastrarAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdministrador</servlet-name>
        <servlet-class>servlet.LoginAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DarBaixa</servlet-name>
        <servlet-class>servlet.DarBaixa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaProdutos</servlet-name>
        <servlet-class>servlet.VendaProdutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarProduto</servlet-name>
        <servlet-class>servlet.CadastrarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverProduto</servlet-name>
        <servlet-class>servlet.RemoverProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverClientes</servlet-name>
        <servlet-class>servlet.RemoverClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarDadosCliente</servlet-name>
        <servlet-class>servlet.AtualizarDadosCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logoff</servlet-name>
        <servlet-class>servlet.Logoff</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SapConsultores</servlet-name>
        <url-pattern>/SapConsultores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>conexaoBanco</servlet-name>
        <url-pattern>/conexaoBanco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroCliente</servlet-name>
        <url-pattern>/CadastroCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCliente</servlet-name>
        <url-pattern>/LoginCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarAdministrador</servlet-name>
        <url-pattern>/CadastrarAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdministrador</servlet-name>
        <url-pattern>/LoginAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DarBaixa</servlet-name>
        <url-pattern>/DarBaixa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaProdutos</servlet-name>
        <url-pattern>/VendaProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarProduto</servlet-name>
        <url-pattern>/CadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverProduto</servlet-name>
        <url-pattern>/RemoverProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverClientes</servlet-name>
        <url-pattern>/RemoverClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarDadosCliente</servlet-name>
        <url-pattern>/AtualizarDadosCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logoff</servlet-name>
        <url-pattern>/Logoff</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
