@charset "utf-8";
/* CSS Document */
@font-face{
    font-family: 'FonteLogo';
    src:url(fonte/bubblegum-sans-regular.otf);
}

body{
    background: #dddddd;
    font-family: Verdana, Sans-serif;
}

/*Formatação do corpo da página*/
#corpo {
    border-radius: 20px;
    width: 1050px;
    margin: 0px auto 0px auto;
    background-color: #FFFFFF;
}

/*Formatação do cabeçalho onde se encontra o nome do sistema*/
header#cabecalho {
    background-color: #ffffff;
    width: 1000px;
    height: 120px;
    margin: -10px auto -27px auto;
    border-bottom: 1px solid #606060;
}

/*Formatação da imagem do logo*/
header#cabecalho img{
    width: 80px;
    border-radius: 10px;
}

/*Formatação do nome do sistema*/
nav#nomeLogo h2{
    font-family: 'FonteLogo', sans-serif;
    color: #606060;
    font-size: 30pt;
    position: relative;
    left: 85px;
    top: -95px;							
}
nav#nomeLogo h3 {
    font-family: 'FonteLogo', sans-serif;
    color: #606060;
    font-size: 28pt;
    position: relative;
    left: 20px;
    top: -130px;
}

/*Formatção da tabela de apresentação das boas vindas*/
header#boasVindas {
    display: block;
    position: absolute;
    font-family: 'FonteLogo', sans-serif;
    left: 500px;
    margin-top: -55px; 
    font-size: 30pt;
}
header#boasVindas td {
    background-color: white;
}

/*Formatação do botão sair*/
form#sair input#cSair {
    position: absolute;
    top: 0px;
    left: 1050px;
    height: 30px;
    width: 70px;
    color: red;
    font-size: 15px;
    border-radius: 10px;
    border-top-color: red;
    border-left-color: red;
    border-right-color: #09F;
    border-bottom-color: #09F;    
    background-color: #ffffff;
}

/*Formatatacão do menu principal compras*/
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 200px;

}
ul li {
    position: relative;													
}
li ul {
    position: absolute;
    display: none;
}
ul li a {
    display: block;
    text-decoration: none;
    color: #000000;
    background: #09F;
    padding: 10px;
    border: 1px solid #ccc;
    border-bottom: 0px;
}
li:hover ul, li.over ul {
    display: block;
}
a:hover {
    background-color: #606060;											
    color: #FFF;
}
nav#menucompras h1 {
    font-family: 'FonteLogo';
    color: #606060;    
    font-size: 20pt;
    padding: 5px;
}
nav#menucompras {
    position: relative;
    left: 30px;																																																				
}

/*Formatação da área principal seção(section)*/
section#areacompras {
    display: block;
    border-right: 1px solid #606060;
    width: 408px;
    margin: 0px;
}

/*Formatação da tabela que apresenta o valor da dívida do cliente*/
div#divida {
    position: relative;
    left: 20px;
}
table td#mdivida, td#valor {
    padding: 5px;
    background-color: #cecece;
}

/*Formatação da tabela que apresenta o último pagamento*/
div#pagamento {
    position: relative;
    left: 20px;
}
table td#ultimoPagamento, td#dataPagamento, td#valorPagamento {
    padding: 5px;
    background-color: #cecece;
}

/*Formatação da área em que fica o menu de produtos*/
aside h1{
    font-family: 'FonteLogo';
    position: absolute;
    left: 800px;
    top: 105px;
    font-size: 20pt;
    padding: 0px;
    color: #606060;
}
nav#perfumaria {
    position: absolute;
    left: 575px;
    top: 185px;
}
nav#corpobanho {
    position: absolute;
    left: 775px;
    top: 185px;
}
nav#cabelo {
    position: absolute;
    left: 975px;
    top: 185px;
}

/*Formatação do rodapé*/
footer#rodape {
    background-color: #FFF;
    width: 1000px;
    height: 50px;
    margin: 0px auto 10px auto;
    border-top: 1px solid #606060;	
    text-align: center;	
    font-family: Arial, sans-serif;
    color: #000;															
}