@charset "utf-8";
/* CSS Document */

body{
    background: #dddddd;
    font-family: Verdana, Sans-serif;
}
/*Formatação do corpo da página*/
#corpo {
    border-radius: 20px;;
    width: 1050px;
    margin: 0px auto 0px auto;
    background-color: #FFFFFF;
}
/*Formatação do cabeçalho onde se encontra o nome do sistema*/
header#cabecalho {
    background-color: #ffffff;
    width: 1000px;
    height: 120px;
    margin: -10px auto -27px auto;
    border-bottom: 1px solid #606060;

}
/*Formatação da imagem do logo*/
header#cabecalho img{
    width: 80px;
    border-radius: 10px;
}
/*Formatação do nome do sistema*/
nav#nomeLogo h2{
    font-family: 'FonteLogo', sans-serif;
    color: #606060;
    font-size: 30pt;
    position: relative;
    left: 85px;
    top: -95px;							
}
nav#nomeLogo h3 {
    font-family: 'FonteLogo', sans-serif;
    color: #606060;
    font-size: 28pt;
    position: relative;
    left: 20px;
    top: -130px;
}

/*Formatção da tabela de apresentação das boas viandas*/
header#boasVindas {
    display: block;
    position: absolute;
    font-family: 'FonteLogo', sans-serif;
    left: 500px;
    margin-top: -55px; 
    font-size: 30pt;
}
header#boasVindas td {
    background-color: white;
}

/*Formatação do botão sair*/
form#sair input#cSair {
    position: absolute;
    top: 0px;
    left: 1050px;
    height: 30px;
    width: 70px;
    color: red;
    font-size: 15px;
    border-radius: 10px;
    border-top-color: red;
    border-left-color: red;
    border-right-color: #09F;
    border-bottom-color: #09F;    
    background-color: #ffffff;
}

/*Formatatacão do menu principal compras*/
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 200px;
   
}
ul li {
    position: relative;													
}
ul li a {
    display: block;
    text-decoration: none;
    color:#000000;
    background: #09F;
    padding: 10px;
    border: 1px solid #ccc;
    border-bottom: 0px;
}
li:hover ul, li.over ul {
    display: block;
}
a:hover{
    background-color: #606060;											
    color: #FFF;
}
nav#menucompras {
    position: relative;
    left: 30px;
    top: 5px;
}
ul#inicio {
    position: relative;
    left: 200px;
    top: 22px;
}
ul#comprasAtuais {
    position: relative;
    left: 400px;
    top:-18px;
}
ul#comprasPassadas {
    position: relative;
    left: 600px;
    top: -58px;
}

/*Formatação da área principal seção(section)*/
section#areacompras {
    display: block;    
    width: 408px;
    margin-top: 0px;
}

/*formatação do iframe e a legenda acima dele*/
iframe {
    display: block;
    position: relative;            
    height: 400px;
    width: 900px;
    top: 30px;
    margin: 0px auto -190px auto;
    border: none;


} 
aside#mensagemLateral {
    display: block;
    position: absolute;
    left: 480px;
    top: 180px;
    color: #606060;
    font-family: verdana, sans-serif;
    font-size: 20px;
}

/*Formatação do rodapé*/
footer#rodape {
    background-color: #FFF;
    width: 1000px;
    height: 50px;
    margin: 200px auto 10px auto;
    border-top: 1px solid #606060;	
    text-align: center;	
    font-family: Arial, sans-serif;
    color: #000;															
}