@charset "utf-8";
/* CSS Document */
@font-face{
    font-family: 'FonteLogo';
    src:url(fonte/bubblegum-sans-regular.otf);
}

body{
    background: #dddddd;
    font-family: Verdana, Sans-serif;
}

/*Formatação do corpo da página*/
#corpo {
    border-radius: 20px;
    width: 1050px;
    margin: 0px auto 0px auto;
    background-color: #FFFFFF;
}

/*Formatação do cabeçalho onde se encontra o nome do sistema*/
header#cabecalho {
    background-color: #ffffff;
    width: 1000px;
    height: 120px;
    margin: -10px auto -27px auto;
    border-bottom: 1px solid #606060;
}

/*Formatação da imagem do logo*/
header#cabecalho img{
    width: 80px;
    border-radius: 10px;
}

/*Formatação do nome do sistema*/
nav#nomeLogo h2{
    font-family: 'FonteLogo', sans-serif;
    color: #606060;
    font-size: 30pt;
    position: relative;
    left: 85px;
    top: -95px;							
}
nav#nomeLogo h3 {
    font-family: 'FonteLogo', sans-serif;
    color: #606060;
    font-size: 28pt;
    position: relative;
    left: 20px;
    top: -130px;
}

/*Formatção da tabela de apresentação das boas vindas*/
header#boasVindas {
    display: block;
    position: absolute;
    font-family: 'FonteLogo', sans-serif;
    left: 500px;
    margin-top: -55px; 
    font-size: 30pt;
}
header#boasVindas td {
    background-color: white;
}

/*Formatação do botão sair*/
form#sair input#cSair {
    position: absolute;
    top: 0px;
    left: 1050px;
    height: 30px;
    width: 70px;
    color: red;
    font-size: 15px;
    border-radius: 10px;
    border-top-color: red;
    border-left-color: red;
    border-right-color: #09F;
    border-bottom-color: #09F;    
    background-color: #ffffff;
}

/*Formatação da div do corpo do relatório de vendas*/
div#corpoDoRelatorioVendas {
    position: relative;
    background-color: antiquewhite;
    width: 350px;
    height: 440px;
    left: 24px;
    top: 100px;
    border-top: 1px solid #606060;
    border-right: 1px solid #606060;
    border-bottom: 1px solid #606060;
}

/*Formatação da legenda do relatório das vendas*/
h2#legendaRelatorio {
    position: relative;
    top: 100px;
    font-family: 'FonteLogo';
    font-size: 25pt;    
    color: #888888;
    text-align: center;
}

/*Formatação da tabela de apresentação do relatório das vendas*/
div#valorTotalVendido {
    position: relative;
    top: 160px;
}
div#valorTotalVendido td {
    position: relative;        
    padding: 7px;    
    background-color: #cecece;
}
div#valorAReceber {
    position: relative;
    top: 70px;
}
div#valorAReceber td {
    position: relative;
    padding: 7px;    
    background-color: #cecece;
}

/*Formatação do menu do administrador*/
nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 215px;

}
nav li ul {
    position: absolute;
    display: none;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color:#000000;
    background: #09F;
    padding: 10px;
    border: 1px solid #ccc;
    border-bottom: 0px;
}
nav li:hover ul, li.over ul {
    display: block;
}
nav a:hover{
    background-color: #606060;											
    color: #FFF;
}
nav#gerenciarProduto {
    position: absolute;
    left: 531px;
    top: 119px;
    text-align: center;
}
nav#gerenciarCliente {
    position: absolute;
    left: 746px;
    top: 119px;
    text-align: center;
}
nav#gerenciarVenda{
    position: absolute;
    left: 961px;
    top: 119px;
    text-align: center;
}

/*Formatação da div onde se encontra o formulário para dar baixa na dívida dos clientes*/
div#corpoDarBaixaNasVendas {
    display: block;
    position: relative;
    left: 430px;
    top: -340px;    
    width: 595px;
    height: 440px;
    background-color: antiquewhite;
    border-bottom: 1px solid #606060;
    border-left: 1px solid #606060;
    border-top: 1px solid #606060;
}
div#corpoDarBaixaNasVendas h3 {
    font-family: 'FonteLogo';
    color: #888888;
    text-align: center;
    font-size: 20pt;
}
form#darBaixaVenda, form#vender label{    
    font-size: 14pt;
    font-weight: bold;
    color: #606060;
}
input.gerenciarVendas{
    font-size: 13pt;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    margin: 7px;
}
form#darBaixaVenda input#cDarBaixa {
    position: relative;
    left: 230px;
    height: 40px;
    width: 90px;
    background-color: #888888;
    color: white;
    border-radius: 10px;
}

/*Formatação da legenda acima dos formulários*/
form#vender h1 { 
    padding: 10px;
    background-color: #dddddd;
    color: #09F;
    font-size: 20pt;
    position: relative;
    top: -310px;
    width: 980px;    
    margin: auto;
}

/*Formatação do formulário de vendas*/

form#vender fieldset#dadosDoCliente {
    position: relative;
    width: 600px;
    margin: -290px auto 15px auto;
}
form#vender fieldset#dadosVenda {
    position: relative;
    width: 600px;
    margin: 25px auto 15px auto;
}
form#vender input#cVender, input#cLimpar{
    position: relative;
    left: 460px;
    height: 40px;
    width: 90px;
    color: white;
    background-color: #888888;
    border-radius: 10px;
}
form#vender legend {
    font-size: 15pt;
    font-weight: bold;
}

/*Formatação do rodapé*/
footer#rodape {
    background-color: #FFF;
    width: 1000px;
    height: 50px;
    margin: 20px auto 10px auto;
    border-top: 1px solid #606060;	
    text-align: center;	
    font-family: Arial, sans-serif;
    color: #000;															
}