@charset "utf-8";
/* CSS Document*/

/*Formatção da tabela de apresentação das boas vindas*/
header#boasVindas {
    display: block;
    position: absolute;
    font-family: 'FonteLogo', sans-serif;
    left: 500px;
    margin-top: -55px; 
    font-size: 30pt;
}
header#boasVindas td {
    background-color: white;
}

/*Formatação do Botão Sair do Sistema*/
form#sair input#cSair {
    position: absolute;
    top: 0px;
    left: 1110px;
    height: 30px;
    width: 70px;
    color: red;
    font-size: 15px;
    border-radius: 0px 10px 0px 10px;
    border-top-color: red;
    border-left-color: red;
    border-right-color: #09F;
    border-bottom-color: #09F;    
    background-color: #ffffff;
}