@charset "utf-8";
/* CSS Document*/

/*Formatação do menu do Consultor*/
nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 215px;
}
nav li ul {
    position: absolute;
    display: none;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color:#000000;
    background: #09F;
    padding: 10px;
    border: 1px solid #ccc;
    border-bottom: 0px; 
    border-radius: 15px 0px 15px 0px;
}
nav li:hover ul, li.over ul {
    display: block;
}
nav a:hover{
    background-color: #606060;											
    color: #FFF;
}

/*Formatação de Cada Item do Menu*/
nav#inicio {
    position: absolute;
    left: 323px;
    top: 119px;
    text-align: center;
}
nav#cadastros{
    position: absolute;
    left: 538px;
    top: 119px;
    text-align: center;
}
nav#pagamentos {
    position: absolute;
    left: 753px;
    top: 119px;
    text-align: center;
}
nav#vendas {
    position: absolute;
    left: 968px;
    top: 119px;
    text-align: center;
}